.reviewComponent {
  padding: 0 0 100px 0;
}

.reviewDate {
  font-size: 14px;
  font-weight: bold;
  color: grey;
}

.reviewPanel {
  padding: 15px 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(230, 230, 230);
}
