.spotsClass {
  padding: 0 85px;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 20;
  justify-content: center;
  gap: 20px;
}

.spotContainer {
  display: flex;
  flex-flow: column;
  margin: 5px 0 5px 0;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
}

.spotContainer:hover {
  box-shadow: 0px 5px 5px rgba(136, 136, 136, 0.2);
  background-color: rgba(136, 136, 136, 0.2);
}

.previewImage {
  width: 350px;
  height: 225px;
  border-radius:10px;
}

.cityAndRating {
  display: flex;
  justify-content: space-between;
}

.newSpotForm {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px;
  width: 40%;
}

.newSpotForm h1,
h3,
p {
  padding: 0px;
  margin: 0px;
}
.newSpotForm input {
  background-color: rgb(208, 243, 255);
  border: 1px solid black;
  height: 25px;
  padding: 5px 0 5px 5px;
  margin: 5px 0 5px 0;
}



.newSpotForm button {
  width: 35%;
  align-self: center;
  height: 40px;
  cursor: pointer;
  margin: 10px 0 50px 0;
  background-color: rgb(223, 0, 0);
  color: white;
  border: 0;
  font-weight: bolder;
}

.newSpotForm label {
  font-weight: bold;
}
