.spotsClass {
  padding: 0 85px 200px 85px;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 20;
  justify-content: center;
  margin: 0 auto;
  gap: 40px;
  row-gap: 20px;
}

.manageSpotClass {
  padding: 0 85px 200px 85px;
  display: flex;
  flex-flow: row wrap;
  /* flex-shrink: 20; */
  justify-content: start;
  /* justify-content: ; */
  /* width: 100%; */
  margin: 0 auto;
  padding: 0 auto;
  gap: 20px;
}

.centerManageSpots {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.spotContainer {
  display: flex;
  flex-flow: column;
  margin: 5px 0 5px 0;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
}

.spotContainer:hover {
  box-shadow: 0px 5px 5px rgba(212, 212, 212, 0.6);
}

.previewImage {
  width: 350px;
  height: 225px;
  border-radius: 10px;
}

.cityAndRating {
  display: flex;
  justify-content: space-between;
}

.newSpotForm {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px 200px 20px;
  width: 40%;
}

.newSpotForm h1,
h3,
p {
  padding: 0px;
  margin: 0px;
}
.newSpotForm input {
  background-color: rgb(208, 243, 255);
  border: 1px solid black;
  height: 25px;
  padding: 5px 0 5px 5px;
  margin: 5px 0 5px 0;
}

.newSpotForm button {
  width: 35%;
  align-self: center;
  height: 40px;
  cursor: pointer;
  margin: 10px 0 50px 0;
  background-color: rgb(223, 0, 0);
  color: white;
  border: 0;
  font-weight: bolder;
}

.newSpotForm label {
  font-weight: bold;
}

.manageSpotsHeader {
  width: 100%;
}

.manageBtnClass {
  background-color: rgb(114, 114, 114);
  padding: 0 20px;
  color: white;
  height: 25px;
  cursor: pointer;
  margin: 15px 15px 0 0;
  border: 1px solid black;
  box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}

.cityAndRating p {
  font-weight: bold;
  margin: 10px 0 0 0;
}

.spotContainer p {
  font-weight: bold;
}

a {
  text-decoration: none;
}

.deleteSpotModal {
  display: flex;
  border-radius: 20px;
  padding: 0 20px 30px 20px;
  box-sizing: border-box;
  flex-flow: column;
  border: 1px solid black;
  max-width: 100%;
}

button li {
  padding: 0;
}

.deleteSpotModal button {
  margin: 10px 0 0;
  width: 100%;
  height: 45px;
  border: 1px solid black;
  background-color: rgb(223, 0, 0);
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}

.reviewPanel {
  align-items: center;
}

#manageReviewsPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.revImgContainer {
  width: 125px;
  height: 125px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 0 0 0 10px;
}

#manageReviews {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: center;
}

.reviewInfo {
  width: 100%;
}
