h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

.spotDetails {
  padding: 0 40px;
}

.spotDescription {
  width: 65vw;
  padding: 0 20px 0 0;
}

.reserveContainer {
  width: 30vw;
  border: 1px solid;
  padding: 20px;
  border-radius: 10px;
  height: 80px;
}

.underImgs {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

#reserveBtn {
  width: 100%;
  height: 40px;
  cursor: pointer;
  background-color: rgb(223, 0, 0);
  color: white;
}

.reserveContainer h4 {
  padding: 0 0 15px 0;
}

.priceNrating {
  display: flex;
  justify-content: space-between;
}
.imagesContainer {
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
}

.preview-image {
  /* border: 1px solid black; */
  width: 50vw;
}
.previewContainer {
  width: 50vw;
  border: 1px solid;
  display: flex;
  flex-flow: row;
}
.smallImagesContainer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0 0 0 5px;
  /* flex-wrap: wrap; */
}
.moreImages {
  width: calc(50% - 3px);
  box-sizing: border-box;
  /* border: 1px solid; */
}

.moreImages:not(:last-child) {
  margin-right: 3px;
}

.moreImages:first-child,
.moreImages:nth-child(2) {
    margin-bottom: 3px;
}

.imgCont {
  width: 100%;
  height: 100%;
  /* padding: 0 3px 3px 0; */
  box-sizing: border-box;
  background-color: red;
}
