/* TODO Add site wide styles */

html,
body {
  /* display: flex; */
  /* justify-content: center; */
  /* justify-items: center; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* box-sizing: border-box; */
  /* width: 100vw; */
  margin: 0px;
  padding: 0px;
}

.loginPanel button:disabled,
.signupPanel button:disabled {
  background-color: rgb(218, 218, 218);
  color: rgb(179, 179, 179);
  border: 1px solid rgb(179, 179, 179);
  cursor: default;
}

.errorRed {
  color: red;
  text-align: left;
  font-size: 12px;
}

.logOutBtn {
  width: 50%;
  height: 30px;
  border-radius: 8px;
  background-color: rgb(101, 101, 101);
  color: white;
  cursor: pointer;
}

#createNewSpot {
  text-decoration: none;
  font-weight: bolder;
}

.greyDivider {
  border-top: 1px solid rgba(136, 136, 136, 0.8);
  margin: 20px 0 5px 0;
}
