/* TODO Add site wide styles */

html,
body {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  width: 100vw;
  /* margin: 0;
  padding: 0; */
}

.coolBtns {
  height: 50px;
  border-radius: 8px;
  font-weight: bolder;
  cursor: pointer;
}

.coolBtns:hover {
  background-color: lightskyblue;
  color: white;
  cursor: pointer;
}
