.navUl {
  box-sizing: border-box;
  width: 100vw;
  padding: 0 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding: 10px 20px;
  cursor: pointer;
}

.profile-dropdown-hidden {
  visibility: hidden;
  height: 0;
  width: 0;
}

.profile-dropdown {
  display: flex;
  flex-flow: column;
  box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.3);
  border: 1px solid rgba(128, 128, 128, 0.3);
  background-color: white;
  margin: 5px 20px 0 0;
  position: absolute;
  right: 0px;
  z-index: 9999;
  border-radius: 15px;
}

.profile-dropdown p {
  padding: 10px 15px 0 15px;
  margin: 0;
  text-decoration: none;
}

.userInfo p {
  padding: 0;
}

.userInfo {
  text-align: left;
  margin: 10px 0 0 0;
  padding: 0 15px 10px 15px;
}

.centeredBtn {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.profileOptions {
  display: flex;
}

#userProfileBtn {
  border-radius: 100px;
  border: 1px solid rgba(128, 128, 128, 0.205);
  cursor: pointer;
  padding: 4px 4px;
  background-color: white;
  display: flex;
  align-items: center;
  margin: 10px 0 0 0;
}

#userProfileBtn:hover {
  box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.2);
}

#logo {
  width: 170px;
}

#hamburger-menu {
  width: 20px;
  padding: 0 0 0 4px;
}

#profileFace {
  width: 28px;
  padding: 0 0 0 4px;
}

.profileActions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 20px;
}

.greyline {
  border-top: 1px solid rgb(219, 219, 219);
  width: 90%;
  margin: 0 auto;
}
